<div class="row mt-5 container">
    <div class="col-3">

    </div>
    <div class="col ml-3">
        <p class="lead">Purchacing Request</p>
        <p>Request created by Merchant to farmer</p>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name of merchant</th>
                    <th scope="col">required crop</th>
                    <th scope="col">buying rate</th>
                    <th scope="col">address</th>
                    <th scope="col">contact</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="">
                    <th scope="row"></th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>