<!-- FOOTER -->
<footer class="container">
    <!-- <p class="float-right"><a>{{"footer.tc" | translate}}</a></p>
    <p>&copy; {{"footer.year" | translate}} - {{"footer.d&d_by" | translate}} &middot;
        <a target="_bank">
            {{"footer.my_name" | translate}}
        </a>
    </p> -->
    <p class="lead d-flex justify-content-center"> 
        <em>
            {{'proj_name' | translate}}
        </em>
    </p>

    <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{language}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" (click)="switchLanguage('en')">{{'header.lang_en' | translate}}</a>
        <a class="dropdown-item" (click)="switchLanguage('hn')">{{'header.lang_hn' | translate}}</a>
    </div> -->
</footer>