<div class="row">
  <div class="col-3">

  </div>
  <div class="col mt-3">
    <p class="lead">orders</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">orderId</th>
          <th scope="col">Crop Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">contact</th>
          <th scope="col">time</th>
          <th scope="col">nego. price</th>
          <th scope="col">wanted nego</th>
          <th scope="col">Farmer Name</th>
          <th scope="col">Status</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody *ngFor="let order of orders">
        <tr *ngIf="order.requestedby === this.loggedinname || order.approvedby === loggedinname">
          <th scope="row">{{order.id}}</th>
          <td>{{order.product.name}}</td>
          <td>{{order.product.productDesc}}</td>
          <td>{{order.product.dp}}</td>
          <td>{{order.product.mobNumber}}</td>
          <td>{{order.dateTime}}</td>
          <td>{{order.negotiation_price}}</td>
          <td>{{order.negotiation_quantity}}</td>
          <td *ngIf="order.product.role === 'merchant' ">{{order.requestedby}} </td>
          <td *ngIf="order.product.role === 'farmer' ">{{order.approvedby}} </td>
          <td> <span [ngClass]="{'badge text-bg-success': order.status === 'requested', 'badge text-bg-danger' : order.status === 'pending payment', 'badge text-bg-warning' : order.status === 'Ordered'}">{{order.status}}</span> </td>
          <td>
            <button [disabled]="order.status === 'requested' " type="button" class="btn btn-success" (click)="paynow()">Pay Now</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<!-- 
<div class="row">
  <div class="col-3">

  </div>
  <div class="col">

    <p class="display-4"></p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">orderId</th>
          <th scope="col">Name</th>
          <th scope="col">Product Desc</th>
          <th scope="col">Price</th>
          <th scope="col">contact</th>
          <th scope="col">time</th>
          <th scope="col">Added By</th>
          <th scope="col">Status</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <th scope="row">{{order.id}}</th>
          <td>{{order.product.name}}</td>
          <td>{{order.product.productDesc}}</td>
          <td>{{order.product.dp}}</td>
          <td>{{order.contact}}</td>
          <td>{{order.dateTime}}</td>
          <td>{{order.product.addedBy}},  {{order.product.role}}</td>
          <td>{{order.status}}</td>
          <td > 
            <button [disabled]="order.status === 'requested' " type="button" routerLink="/payment-gateway" class="btn btn-success">Pay Now</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->