<br>
<div class="row">
    <div class="col-3">

    </div>
    <div class="col">

        <div class="row">
            <div class="col-md-4">
                <strong>All Crops List</strong>
            </div>
            <div class="col">
                <input *ngIf=" user_role === 'farmer' || user_role === 'merchant'" type="text" class="form-control"
                    name="name" [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Search here">
                <input *ngIf=" user_role === 'admin'" type="text" class="form-control" name="name" [(ngModel)]="name"
                    (ngModelChange)="Search1()" placeholder="Search here">
            </div>
            <div class="col">
                <button type="button" class="btn btn-dark float-right" (click)="addProductPopup()" data-toggle="modal"
                    data-target="#addEditProductModal">
                    Add New Crop
                </button>
                <!-- <button type="button" class="btn btn-dark float-right" routerLink="/farmer/addcrop">
                    Add New crop
                </button> -->
            </div>
        </div>
        <div class="row mt-5 justify-content-center">

            <div class="col shadow" *ngIf=" user_role === 'admin'">

                <p class="lead">All Crops- Product Management</p>
                <div class="container">
                    <h2>List of all products <small>by other farmers</small></h2>
                    <ul class="responsive-table">
                        <li class="table-header">
                            <div class="col">#</div>
                            <div class="col" (click)="sort('first_name')">Product Name</div>
                            <div class="col">Quantity</div>
                            <div class="col">Mrp</div>
                            <div class="col">dp</div>
                            <div class="col">Status</div>
                        </li>
                        <li class="table-row" *ngFor="let product_data of all_product_data ; let i = index ">
                            <div class="col" data-label="Job Id">{{i+1}}</div>
                            <div class="col" data-label="Customer Name">{{product_data.name}}</div>
                            <div class="col" data-label="Amount">{{product_data.productDesc}}</div>
                            <div class="col" data-label="Payment Status">{{product_data.mrp}}</div>
                            <div class="col" data-label="Amount">{{product_data.dp}}</div>
                            <div class="col" data-label="Payment Status">{{product_data.status}}</div>
                        </li>

                    </ul>
                </div>
            </div>

            <div id="view" class="e-btn-group">
                <input type="radio" id="left" name="align" selected value="1" (click)="changeDisplay(1)" />
                <label class="e-btn" for="left">List View </label> &nbsp;
                <input type="radio" id="right" name="align" value="2" (click)="changeDisplay(2)" />
                <label class="e-btn" for="right">Grid View</label>
            </div>

            <div class="col-11 shadow" *ngIf="user_role == 'farmer' || user_role =='merchant' ">
                <p class="lead">My Crops</p>

                <div *ngIf="display===1; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-muted">
                                <th scope="col">#</th>
                                <th scope="col">Crop Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">MRP</th>
                                <th scope="col">DP</th>
                                <!-- <th scope="col">Description</th> -->
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product_data of my_product_data;  let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{product_data.name}}</td>
                                <!-- <td>{{product_data.uploadPhoto}}</td> -->
                                <td>{{product_data.productDesc}}</td>
                                <td>{{product_data.mrp}}</td>
                                <td>{{product_data.dp}}</td>
                                <!-- <td>{{product_data.productDesc}}</td> -->
                                <td>{{product_data.status}}</td>
                                <td>
                                    <span class="sim-pointer" (click)="editProductPopup(product_data.id)"
                                        data-toggle="modal" data-target="#addEditProductModal"><i
                                            class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                    &nbsp;&nbsp;&nbsp;
                                    <span class="sim-pointer" (click)="deleteProduct(product_data.id)"><i
                                            class="fa fa-trash" aria-hidden="true"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>


                <ng-template #elseBlock>
                    <h4 class="display-6 justify-content-center">Kr</h4>
                    <div class="row">
                        <div class="col-sm-4 product" *ngFor="let product_data of my_product_data;">
                            <div class="card shadow">
                                <img src="{{product_data.uploadPhoto}}" class="card-img-top"
                                    alt="{{product_data.name}}">
                                <div class="card-body">
                                    <h4 class="card-title">{{product_data.name}}</h4>
                                    <p><span class="float-left"><strong>MRP</strong>:
                                            <del>{{product_data.mrp}}</del></span>
                                        <span class="float-right"><strong>DP</strong>:
                                            {{product_data.dp}}</span>
                                    </p>
                                    <br>
                                    <p class="card-text product-desc">{{product_data.productDesc}}</p>
                                    <p>Added by:- {{product_data.addedBy}}</p>
                                    <!-- <a class="btn btn-primary text-light float-left" (click)="addToCart(product.id)">Add to Cart</a> -->
                                </div>
                                <div class="card-footer">
                                    <span class="sim-pointer text-primary col-6" (click)="editProductPopup(product_data.id)"
                                        data-toggle="modal" data-target="#addEditProductModal"><i
                                            class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                    <span class="sim-pointer text-danger col-6" (click)="deleteProduct(product_data.id)"><i
                                            class="fa fa-trash" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

        <!-- Modal for add and edit user  -->
        <div class="modal fade" id="addEditProductModal" tabindex="-1" role="dialog" aria-labelledby="addEditUserTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{popup_header}}</h5>
                        <button type="button" (click)="getmyProduct()" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <form [formGroup]="addEditProductForm">
                                    <div class="form-group">
                                        <label for="productName">Product Name</label>
                                        <input type="text" class="form-control" formControlName="name"
                                            [ngClass]="{'is-invalid':addEditProduct && rf.name.errors}" />
                                        <div *ngIf="addEditProduct && rf.name.errors" class="invalid-feedback">
                                            <div *ngIf="rf.name.errors.required">Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="productImage">Product Image URL</label>
                                        <input type="url" class="form-control" formControlName="uploadPhoto"
                                            [ngClass]="{'is-invalid':addEditProduct && rf.uploadPhoto.errors}">
                                        <div *ngIf="addEditProduct && rf.uploadPhoto.errors" class="invalid-feedback">
                                            <div *ngIf="rf.uploadPhoto.errors.required">Please upload file</div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="productImage">Product Image</label>
                                        <input type="file" class="form-control" formControlName="uploadPhoto"
                                            [ngClass]="{'is-invalid':addEditProduct && rf.uploadPhoto.errors}">
                                        <div *ngIf="addEditProduct && rf.uploadPhoto.errors" class="invalid-feedback">
                                            <div *ngIf="rf.uploadPhoto.errors.required">Please upload file</div>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <label for="productDescription">Quantity</label>
                                        <input class="form-control" rows="3" formControlName="productDesc"
                                            [ngClass]="{'is-invalid':addEditProduct && rf.productDesc.errors}">
                                        <div *ngIf="addEditProduct && rf.productDesc.errors" class="invalid-feedback">
                                            <div *ngIf="rf.productDesc.errors.required">Write something about product
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="productMRP">MRP</label>
                                        <input type="text" class="form-control" formControlName="mrp"
                                            [ngClass]="{'is-invalid':addEditProduct && rf.mrp.errors}" />
                                        <div *ngIf="addEditProduct && rf.mrp.errors" class="invalid-feedback">
                                            <div *ngIf="rf.mrp.errors.required">MRP is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="productDP">DP</label>
                                        <input type="text" class="form-control" formControlName="dp"
                                            [ngClass]="{'is-invalid':addEditProduct && rf.dp.errors}" />
                                        <div *ngIf="addEditProduct && rf.dp.errors" class="invalid-feedback">
                                            <div *ngIf="rf.dp.errors.required">DP is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="productStatus">Status</label>
                                        <select class="form-control" formControlName="status"
                                            [ngClass]="{'is-invalid':addEditProduct && rf.status.errors}">
                                            <option value="active">Active</option>
                                            <option value="inactive">Inactive</option>
                                        </select>
                                        <div *ngIf="addEditProduct && rf.status.errors" class="invalid-feedback">
                                            <div *ngIf="rf.status.errors.required">Select one option</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" (click)="addNewProduct()"
                                            *ngIf="add_product">Add
                                            New</button>
                                        <button class="btn btn-primary" (click)="updateProduct()"
                                            *ngIf="edit_product">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>