<div class="home mt-5 row justify-content-center">
    <!-- <h1 class="intro">{{ 'intro' | translate }}</h1> -->
    <div class="container">
        <h1 class="display-6">{{'proj_name' | translate}}</h1>
    </div>
    <div class="container mt-5 col-3 shadow">
        <a routerLink="/sign-in">
            <p class="lead"> Sign In </p>
        </a>
        <a routerLink="/sign-up">
            <p class="lead"> Sign Up </p>
        </a>
    </div>
    <!-- <h1>Another way: <span translate>intro</span></h1> -->
</div>